/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.home * {
  font-family: 'Rosario';
}
.home nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  height: 100px;
  position: fixed;
  width: 100%;
  letter-spacing: 0.08rem;
  white-space: nowrap;
}
.home nav a {
  text-decoration: none;
  color: #F5F7F7;
  font-size: 2rem;
  margin: 0 13%;
  transition: 1s;
}
@media (max-width: 800px) {
  .home nav {
    position: fixed;
    height: 50px;
    width: 100vw;
    flex-direction: row;
  }
  .home nav a {
    margin: 0 0;
    font-size: 1.5rem;
    padding: 0 10%;
  }
  .home nav a img {
    display: none;
  }
}
@media (max-width: 800px) and (max-width: 500px) {
  .home nav a {
    margin: 0 0;
    font-size: 1rem;
    padding: 0 10%;
  }
}
.home .header {
  background: url('../css/img/mantas-hesthaven-_g1WdcKcV3w-unsplash.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .header .cta {
  display: flex;
  flex-direction: column;
}
.home .header .cta h1 {
  padding-top: 40%;
  padding-bottom: 5%;
  color: white;
  font-size: 5rem;
  letter-spacing: 0.08rem;
}
@media (max-width: 500px) {
  .home .header .cta h1 {
    font-size: 3rem;
  }
}
.home .header .cta .button {
  margin: 0 auto;
  padding: 2% 5%;
  border: 1px transparent solid;
  border-radius: 8px;
  transition: 1s;
  background: #2A9BF0;
  text-decoration: none;
  color: black;
  letter-spacing: 0.08rem;
}
.home .header .cta .button:hover {
  background: transparent;
  color: #2A9BF0;
  border: 1px #2A9BF0 solid;
  border-radius: 8px;
}
.home .header .cta .button:focus {
  outline: none;
}
@media (max-width: 500px) {
  .home .header {
    width: 100vw;
  }
}
.home .top-content {
  display: flex;
  padding: 3% 10%;
  border-bottom: 2px #E26512 solid;
  flex-direction: column;
}
@media (max-width: 500px) {
  .home .top-content {
    padding: 3% 5%;
  }
}
.home .top-content .top-content-title {
  width: 100%;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 2%;
}
@media (max-width: 500px) {
  .home .top-content .top-content-title {
    font-size: 1.85rem;
  }
}
.home .top-content .top-content-text {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  line-height: 45px;
  letter-spacing: 0.08rem;
  text-align: center;
}
.home .top-content .top-content-text p {
  padding-bottom: 3%;
}
@media (max-width: 500px) {
  .home .top-content .top-content-text p {
    text-align: center;
    font-size: 1.2rem;
  }
}
.home .top-content .top-content-text .button {
  margin: 0 auto;
  padding: 1% 2%;
  border: 1px transparent solid;
  transition: 1s;
  border-radius: 8px;
  color: #F5F7F7;
  background: #E26512;
  text-decoration: none;
}
.home .top-content .top-content-text .button:hover {
  background: transparent;
  color: #E26512;
  border: 1px #E26512 solid;
  border-radius: 8px;
}
.home .top-content .top-content-text .button:focus {
  outline: none;
}
.home h1 {
  text-align: center;
  font-size: 3rem;
  padding: 4% 0;
  letter-spacing: 0.08rem;
}
@media (max-width: 500px) {
  .home h1 {
    font-size: 1.75rem;
    padding: 10% 0;
  }
}
.home .bottom-content {
  display: flex;
  font-size: 1.4rem;
  line-height: 45px;
  letter-spacing: 0.08rem;
  background: url(/css/img/clouds.jpg) no-repeat center center;
  background-size: cover;
}
.home .bottom-content .bottom-sub-content {
  width: 100%;
  margin: 3% 5%;
  padding: 3%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: rgba(245, 245, 247, 0.5);
  border-radius: 10px;
}
@media (max-width: 800px) {
  .home .bottom-content .bottom-sub-content {
    margin: 2% auto;
    width: 80%;
  }
}
.home .bottom-content .bottom-sub-content h2 {
  font-weight: bold;
}
.home .bottom-content .bottom-sub-content p {
  padding: 3% 0;
}
.home .bottom-content .bottom-sub-content .button {
  margin: 0 auto;
  padding: 2% 5%;
  border: 1px transparent solid;
  transition: 1s;
  border-radius: 8px;
  color: #F5F7F7;
  background: #2A9BF0;
  text-decoration: none;
  margin-top: auto;
  width: 60%;
}
@media (max-width: 500px) {
  .home .bottom-content .bottom-sub-content .button {
    width: 90%;
    margin: 0 0;
    font-size: 1rem;
  }
}
.home .bottom-content .bottom-sub-content .button:hover {
  background: transparent;
  color: #2A9BF0;
  border: 1px #2A9BF0 solid;
  border-radius: 8px;
}
.home .bottom-content .bottom-sub-content .button:focus {
  outline: none;
}
@media (max-width: 800px) {
  .home .bottom-content {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .home {
    width: 100vw;
  }
}
.about * {
  font-family: 'Rosario';
}
.about nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  height: 100px;
  position: fixed;
  width: 100%;
  letter-spacing: 0.08rem;
  white-space: nowrap;
}
.about nav a {
  text-decoration: none;
  color: #F5F7F7;
  font-size: 2rem;
  margin: 0 13%;
  transition: 1s;
}
@media (max-width: 800px) {
  .about nav {
    position: fixed;
    height: 50px;
    width: 100vw;
    flex-direction: row;
  }
  .about nav a {
    margin: 0 0;
    font-size: 1.5rem;
    padding: 0 10%;
  }
  .about nav a img {
    display: none;
  }
}
@media (max-width: 800px) and (max-width: 500px) {
  .about nav a {
    margin: 0 0;
    font-size: 1rem;
    padding: 0 10%;
  }
}
.about .header {
  background: url('../css/img/about-bg.jpeg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .header .header-content {
  display: flex;
  flex-direction: column;
}
.about .header .header-content h1 {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 85px;
  text-align: center;
}
.about .header .header-content p {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}
.about .content {
  width: 100%;
  padding: 4% 0;
  display: flex;
  justify-content: center;
}
.about .content p {
  width: 80%;
  text-align: center;
  font-weight: normal;
  font-size: 26px;
  line-height: 45px;
  letter-spacing: 0.08em;
  color: #000000;
}
@media (max-width: 800px) {
  .about .content p {
    font-size: 20px;
    line-height: 30px;
    width: 90%;
  }
}
@media (max-width: 800px) and (max-width: 500px) {
  .about .content p {
    font-size: 15px;
    line-height: 30px;
    width: 90%;
  }
}
.about .bottom-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 5% 0;
  line-height: 45px;
  letter-spacing: 0.02rem;
}
.about .bottom-content h1 {
  font-size: 2rem;
}
.about .bottom-content .carousel {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.about .bottom-content .carousel div {
  padding: 5% 5%;
}
@media (max-width: 500px) {
  .about .bottom-content .carousel div {
    padding: 1% 1%;
  }
}
.about .bottom-content .carousel .button {
  font-size: 2rem;
  font-weight: 1000;
  transition: 0.6s;
  border-radius: 100%;
  padding: 3% 3%;
}
@media (max-width: 500px) {
  .about .bottom-content .carousel .button {
    transform: rotate(90deg);
    padding: 0 0;
  }
}
.about .bottom-content .carousel .button:hover {
  background: #E26512;
  color: white;
}
@media (max-width: 500px) {
  .about .bottom-content .carousel .button:hover {
    background: white;
    color: black;
  }
}
.about .bottom-content .carousel .item {
  width: 40%;
  text-align: center;
}
@media (max-width: 800px) {
  .about .bottom-content .carousel .item {
    width: 60%;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 800px) and (max-width: 500px) {
  .about .bottom-content .carousel .item {
    width: 90%;
  }
}
.about .bottom-content .carousel .item img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
@media (max-width: 500px) {
  .about .bottom-content .carousel .item img {
    width: 100px;
    height: 100px;
  }
}
.about .bottom-content .carousel .item .info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.about .bottom-content .carousel .item .info h1 {
  font-size: 2rem;
  margin: 1%;
}
@media (max-width: 500px) {
  .about .bottom-content .carousel .item .info h1 {
    font-size: 1.5rem;
    margin: 0;
  }
}
.about .bottom-content .carousel .item .info h2 {
  font-size: 1.5rem;
  margin: 1%;
}
@media (max-width: 500px) {
  .about .bottom-content .carousel .item .info h2 {
    font-size: 1.25rem;
    margin: 0;
  }
}
.about .bottom-content .carousel .item .info h3 {
  font-size: 1rem;
  margin: 1%;
}
@media (max-width: 500px) {
  .about .bottom-content .carousel .item .info h3 {
    margin: 0;
  }
}
.about .bottom-content .carousel .item .info h3 a {
  text-decoration: none;
  color: black;
}
@media (max-width: 500px) {
  .about .bottom-content .carousel {
    flex-direction: column;
    text-align: center;
  }
}
