/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.home nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  height: 100px;
  position: fixed;
  width: 100%;
}
.home nav a {
  text-decoration: none;
  color: #f6f7f7;
  font-size: 2rem;
  margin: 0 13%;
}
.home .header {
  background: url('../css/img/mantas-hesthaven-_g1WdcKcV3w-unsplash.jpg') no-repeat center center;
  background-size: cover;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .header .cta {
  display: flex;
  flex-direction: column;
}
.home .header .cta h1 {
  padding-top: 40%;
  padding-bottom: 5%;
  color: white;
  font-size: 5rem;
}
.home .header .cta button {
  margin: 0 auto;
  padding: 2% 5%;
  border: 1px transparent solid;
  border-radius: 8px;
  background: rgba(246, 247, 247, 0 0.85);
}
.home .header .cta button:hover {
  background: transparent;
  color: #F5F7F7;
  border: 1px #F5F7F7 solid;
  border-radius: 8px;
}
.home .header .cta button:focus {
  outline: none;
}
.home h1 {
  text-align: center;
  font-size: 3rem;
}
.about {
  color: red;
}
